@font-face {
  font-family: "Uiyeun";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* 전체화면 스크롤 막기 */
  overflow: hidden;
  touch-action: none;

  font-family: "Uiyeun";
}

#mainHeader {
  width: 100%;
  border-bottom: 0.2rem solid #424436;

  text-align: center;
  background-color: #daeaf6;
}

/* 나의 자산 */
#assetSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 5rem);
  margin: 2rem 1rem;

  border-radius: 3rem;
  border: 0.3rem solid #424436;

  background-color: #daeaf6;
}

h2 {
  margin: 0.5rem;
}

#assetSection > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assetValue {
  margin: 0;

  font-size: 3.5rem;
}

#detailContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  font-size: 1.7rem;

  gap: 2rem;
}

#plusContainer {
  display: flex;

  color: blue;
}

#minusContainer {
  display: flex;

  color: red;
}

.detailSign {
  padding: 0.1rem 0.3rem;
  border-radius: 3rem;
  background-color: #fffff0;
}

div > p {
  margin: 1rem 0.5rem;
}

/* 수입, 지출 내역 */
#accountSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-top: 0.2rem solid #424436;

  font-size: 1.3rem;
}

#accountSection > header {
  display: flex;
  margin: -1rem 0;

  font-size: 2rem;

  gap: 0.7rem;
}

#accountSection > header > button {
  border: 0;
  background-color: transparent;
}

#accountSection > article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
}

#accountSection > article > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  width: 100%;

  border-bottom: 0.07rem solid #424436;
}

#accountSection > article > header > p,
#accountSection > article > header > form {
  /* 마진: 위 왼+오른쪽 아래 */
  margin: -0.5rem 2.5rem 1rem;
}

/* 상세 내역 */
ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  width: 100%;

  /* 높이를 설정해줘야 스크롤 생김 */
  height: 35vh;
  overflow-y: auto;

  list-style: none;
  font-size: 1.5rem;
}

li {
  display: flex;
  margin: 0.2rem 1rem;
  position: relative;
  border-radius: 1rem;

  background-color: #daeaf6;
}

.category {
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.place {
  font-weight: bold;
}

.history {
  margin-right: 2rem;
  flex-grow: 1;

  text-align: right;
  font-weight: bold;
}

/* x 버튼 추가 */
.history::after {
  content: "x";
  position: absolute;
  top: -0.5rem;
  right: 1rem;

  color: #424436;
  font-size: 2.5rem;
}

.income {
  color: blue;
}

.expenses {
  color: red;
}
