@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* a 태그 클릭 시, 부드럽게 이동 */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #cce2cb;

  font-family: "ONE-Mobile-POP";
}

h1 {
  padding: 1.5rem;
  margin: 0;

  background-color: #cbaacb;
  color: #fffff0;
}

#prevSection {
  display: flex;
  width: 100%;
  height: 25rem;

  /* 가로 스크롤만 가능하게 */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

section > ul {
  display: flex;
  margin: 1rem;
  padding-left: 0;

  /* flex를 줘야만 적용가능 */
  gap: 1rem;
}

/* section 하위의 img 태그에만 적용 */
section > ul > li > img {
  width: 25rem;
  height: 25rem;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1rem;
  padding: 1.5rem;

  border: 0.5rem solid #ffffb5;
  text-align: center;
}

nav > ul {
  display: flex;
  justify-content: center;
  padding-left: 0;

  list-style: none;
  font-size: 1.5rem;
}

nav > ul > li {
  padding: 0rem 0.7rem;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #cbaacb;
  text-decoration: underline;
}

#animalSection,
#foodSection,
#friendsSection {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 1rem;

  border: 0.3rem solid #2d4849;
  text-align: center;
}

h3 {
  /* sticky는 부모요소 안에서만 동작하는데, 이때 부모태그에 높이가 설정되어 있지 않으면 동작 X */
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1rem;

  color: #fffff0;
  background-color: #2d4849;

  z-index: 1;
}

#animalSection > article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0rem;
  width: 100%;

  gap: 1rem;
}

#animalSection > article > img {
  width: 17rem;
  height: 17rem;
  /* 마지막 줄의 개수가 맞지 않는 경우 화면 비율에 맞게 이미지 너비 늘어남 */
  flex-grow: 1;
}

#foodSection > article {
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
  width: 100%;

  gap: 1rem;
}

article > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  height: auto;

  gap: 1rem;
}

.left > img {
  width: 25rem;
  height: auto;
  flex-grow: 1;
}

.right > img {
  width: 17rem;
  height: 18.5rem;
  flex-grow: 1;
}

#animalSection > article > img:hover,
#foodSection > article > div > img:hover {
  /* 즉시 0.2초동안 일정한 속도로 부드럽게 변화 */
  transition: all 0.2s linear;
  /* 위로 0.5rem 이동 */
  transform: translateY(-0.5rem);
}
