@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  background-color: #cce2cb;
}

h1 {
  padding: 1.5rem;
  margin: 0;

  font-family: "ONE-Mobile-POP";
  background-color: #cbaacb;
  color: #fffff0;
}
