@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #cce2cb;

  font-family: "ONE-Mobile-POP";
}

h1 {
  padding: 1.5rem;
  margin: 0;

  background-color: #cbaacb;
  color: #fffff0;
}

section {
  display: flex;
  width: 100%;
  height: 25rem;
  margin-bottom: 2rem;

  /* 가로 스크롤만 가능하게 */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

section > ul {
  display: flex;
  margin: 1rem;
  padding-left: 0;

  /* flex를 줘야만 적용가능 */
  gap: 1rem;
}

/* section 하위의 img 태그에만 적용 */
section > ul > li > img {
  width: 25rem;
  height: 25rem;
}
